executor.name = 'local'

// Define the resources required for the pipeline
process {
    errorStrategy = 'retry'
    maxRetries = 2

    withName: 'sashimi' {
        container = 'guigolab/ggsashimi:latest'
        cpus      = 4
        memory    = '8GB'
        time      = '2h'
    }

}

singularity {
    enabled     = true
    autoMounts  = true
    cacheDir    = "${baseDir}/containers"
}

docker.enabled = false
